name: Github_Actions-1

on: [push]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello-world
        run: echo "hello-Sreenath"
        shell: bash
        
  Goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: Goodbye world
        run: echo "Goodbye world"
        shell: bash
