name: Sreenath

on: [push]

jobs:
  Job-1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: hello-world
        run: echo "hello-Sreenath"
        shell: bash
        
  Job-2:
    runs-on: ubuntu-latest
    steps:
      - name: Goodbye world
        run: echo "Goodbye world"
        shell: bash
